/* Form style */
.form {
  padding: 3.5rem 2.3rem;
  float: left;
  -webkit-box-shadow: -3px 3px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -3px 3px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: -3px 3px 4px 0 rgba(0, 0, 0, 0.2);
  max-width: 40rem;
  width: 100%;
}

.form h1,
.form p {
  padding: 0 0 0 0.8rem;
  margin: 0 0 2rem;
  float: left;
}

.form h1 {
  line-height: 2.2rem;
  font-size: 1.8rem;
  width: 50%;
  height: 3.75rem;
}

@media (max-width: 73rem) {
  .form {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .form h1 {
    width: 100%;
    height: auto;
  }
}

.form p {
  font-size: 1rem;
  line-height: 1.8rem;
  opacity: 0.75;
  width: 50%;
  height: 3.75rem;
}

@media (max-width: 73rem) {
  .form p {
    width: 100%;
    height: auto;
  }
}

.form a {
  color: #40da9f;
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  display: inline;
}

.form a:hover {
  color: #fff;
}

.form button,
.form input,
.form select,
.form textarea {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #fffff;
  height: 2.4rem;
  font-weight: 500;
  width: 100%;
  background: rgba(144, 167, 188, 0.7);
  outline: 0;
  padding: 0 1rem;
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.form button:hover,
.form input:hover,
.form select:hover,
.form textarea:hover {
  background: rgba(144, 167, 188, 0.9);
}

.form button:focus,
.form input:focus,
.form select:focus,
.form textarea:focus {
  color: #212121;
  background: #90a7bc;
}

.form button::-webkit-input-placeholder,
.form input::-webkit-input-placeholder,
.form select::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: #fff;
}

.form button::-moz-placeholder,
.form input::-moz-placeholder,
.form select::-moz-placeholder,
.form textarea::-moz-placeholder {
  color: #fff;
}

.form button:-ms-input-placeholder,
.form input:-ms-input-placeholder,
.form select:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  color: #fff;
}

.form button:-moz-placeholder,
.form input:-moz-placeholder,
.form select:-moz-placeholder,
.form textarea:-moz-placeholder {
  color: #fff;
}

.form select {
  color: #fff;
  background: url(../assets/icon_arrow-down_white.svg), rgba(144, 167, 188, 0.7);
  background-size: 0.55rem auto;
  background-position: 95%, center;
  background-repeat: no-repeat;
}

.form select:hover {
  background: url(../assets/icon_arrow-down_white.svg), rgba(144, 167, 188, 0.9);
  background-size: 0.55rem auto;
  background-position: 95%, center;
  background-repeat: no-repeat;
}

.form select:focus {
  background: url(../assets/icon_arrow-down_white.svg) 95% no-repeat,
    center no-repeat #90a7bc;
  background-size: 0.55rem auto;
}

.form input[type="checkbox"],
.form input[type="radio"] {
  -webkit-appearance: none;
  height: 2em;
  width: 2em;
  margin: -0.05rem 0.5rem 0 0;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 2em;
  outline: 0;
  padding: 0 0.8rem;
}

.form input[type="checkbox"]:checked,
.form input[type="radio"]:checked {
  background-color: #40da9f;
}

.form input[type="checkbox"]:before,
.form input[type="checkbox"]:checked:before,
.form input[type="radio"]:before,
.form input[type="radio"]:checked:before {
  position: absolute;
  top: 32%;
  left: 35%;
  width: 30%;
  height: 30%;
  text-align: center;
  color: #fff;
  content: "";
  line-height: 0.5rem;
  background: 0 0 !important;
}

.form input[type="checkbox"]:checked:before,
.form input[type="radio"]:checked:before {
  content: url(../assets/icon_check_blue.svg);
}

.form input[type="checkbox"]:hover:before,
.form input[type="radio"]:hover:before {
  background: rgba(255, 255, 255, 0.3);
}

.form .mauticform-checkboxgrp-label,
.form .mauticform-radiogrp-row label {
  text-transform: none;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.6rem;
}

.form label,
.form label.mauticform-label {
  font-size: 0.75rem !important;
  font-weight: 400 !important;
  margin-bottom: 0.5rem !important;
  text-transform: uppercase;
}

.form label span,
.form label.mauticform-label span {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}

.form label,
.form label * {
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}

.form button.mauticform-pagebreak {
  position: relative;
  margin-top: 0.5rem !important;
  margin-left: calc(50% - 8rem) !important;
  margin-right: calc(50% - 8rem) !important;
  margin-bottom: 0 !important;
}

.form button.mauticform-pagebreak.mautic-pagebreak-back {
  background: 0 0 !important;
  color: #fff !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  height: 2rem !important;
  font-weight: 400 !important;
}

.form button.mauticform-pagebreak ~ .mauticform-button-wrapper {
  margin-top: 0 !important;
}

.form.thank-you h1,
.form.thank-you p {
  width: 100%;
  height: auto;
}

.form.thank-you h1 {
  margin: 0 0 0.5rem;
}

.form .mauticform-required:after {
  content: "*";
  position: absolute;
  top: 1rem;
  right: 1rem;
  line-height: 0.9rem;
  font-size: 1rem;
}

.form.white,
.form.white label {
  color: #212121;
}

.form.white {
  background: #fff;
}

.form.white input,
.form.white select,
.form.white textarea {
  background: #f4f3f3;
  color: #212121;
  border-bottom: 1px solid;
  border-color: rgba(33, 33, 33, 0.1);
  font-size: 0.9rem;
}

.form.white input:hover,
.form.white select:hover,
.form.white textarea:hover {
  background: #fff;
}

.form.white input::-webkit-input-placeholder,
.form.white select::-webkit-input-placeholder,
.form.white textarea::-webkit-input-placeholder {
  color: #212121;
}

.form.white input::-moz-placeholder,
.form.white select::-moz-placeholder,
.form.white textarea::-moz-placeholder {
  color: #212121;
}

.form.white input:-ms-input-placeholder,
.form.white select:-ms-input-placeholder,
.form.white textarea:-ms-input-placeholder {
  color: #212121;
}

.form.white input:-moz-placeholder,
.form.white select:-moz-placeholder,
.form.white textarea:-moz-placeholder {
  color: #212121;
}

.form.white .privacy a:hover,
.form.white label a:hover {
  color: #00bf9a;
}

.form.white label a {
  color: #00bf9a;
  font-weight: 700;
}

.form.white .privacy a {
  font-weight: 700;
}

.form.white .mauticform-required:after {
  color: rgba(33, 33, 33, 0.2);
}

.form .panel {
  float: left;
  padding: 2rem 1.5rem;
  left: -4.5rem;
  width: calc(100% + 9.1rem);
  margin: 0 0 2.25rem;
}

.form .panel p {
  margin: 0;
  position: relative;
  z-index: 3;
}

.form .panel a {
  color: #4e5e9e;
  font-weight: 600;
}

.form .panel a:hover {
  color: #1e5d86;
}

.form .button,
.form .mauticform-button-wrapper .mauticform-button,
.form button,
.form button.btn.btn-default {
  background: #00bf9a;
  color: #fff;
  border: none;
  border-width: 0;
  max-width: 16rem;
  display: inline-block;
  border-radius: 2rem;
  padding: 0.8rem 1rem;
  width: 100%;
  height: auto;
  text-align: center;
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.form .button:hover,
.form .mauticform-button-wrapper .mauticform-button:hover,
.form button.btn.btn-default:hover,
.form button:hover {
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  color: #ffffff;
  -webkit-box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.form .button#mauticform_input_mauticcomsignupfree_final_page,
.form
  .mauticform-button-wrapper
  .mauticform-button#mauticform_input_mauticcomsignupfree_final_page,
.form button#mauticform_input_mauticcomsignupfree_final_page,
.form button.btn.btn-default#mauticform_input_mauticcomsignupfree_final_page {
  color: #fff;
  background: #1e2a36;
}

.form .button#mauticform_input_mauticcomsignupfree_final_page:hover,
.form
  .mauticform-button-wrapper
  .mauticform-button#mauticform_input_mauticcomsignupfree_final_page:hover,
.form button#mauticform_input_mauticcomsignupfree_final_page:hover,
.form
  button.btn.btn-default#mauticform_input_mauticcomsignupfree_final_page:hover {
  background: #11181f;
}

.form .mauticform-errormsg {
  height: 2rem;
  float: left;
  color: #ff6363;
  font-weight: 600;
  font-size: 0.76rem;
  line-height: 1rem;
  padding: 0.4rem 0 0;
}

.form .mauticform-freetext {
  width: 100%;
}

.form .mauticform-freetext span {
  font-size: 1.2rem !important;
  line-height: 1.9rem !important;
}

.form .mauticform-freetext a {
  color: #00bf9a !important;
}

.form .privacy {
  width: 100%;
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.65rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.mauticform-row {
  width: 50%;
  float: left;
  padding: 0.75rem 0.9rem;
  margin-bottom: 0 !important;
  position: relative;
}

.mauticform-row#mauticform_contactus_message {
  width: 100%;
}

.mauticform-row#mauticform_contactus_message textarea {
  height: 7rem;
}

.mauticform-row.mauticform-has-error,
.mauticform-row.mauticform-has-error + .mauticform-row {
  min-height: 7.5rem;
}

.mauticform-pagebreak-wrapper,
.mauticform-row.mauticform-button-wrapper {
  width: 100%;
  text-align: center;
  margin: 1rem 0 0;
}

.form-wrapper {
  text-align: center;
  border: 5px solid green;
}

.form-wrapper .znColumnElement-innerWrapper {
  width: auto;
  display: inline-block;
}

@media (max-width: 48rem) {
  .mauticform-row {
    width: 100%;
  }
}

.form .mauticform-row.mauticform-required .mauticform-label:after {
  color: #fff;
  line-height: 0.75rem;
  vertical-align: bottom;
  content: " *";
  position: absolute;
  right: 1.6rem;
  top: 3.3rem;
  display: none;
}

input[type="text"] {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  color: #fffff;
  height: 2.4rem;
  font-weight: 500;
  width: 100%;
  background: rgba(144, 167, 188, 0.7);
  outline: 0;
  padding: 0 1rem;
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

input[type="text"]:hover {
  background: rgba(144, 167, 188, 0.9);
}

input[type="text"]:focus {
  color: #212121;
}

input[type="text"]::-webkit-input-placeholder {
  color: #fff;
}

input[type="text"]::-moz-placeholder {
  color: #fff;
}

input[type="text"]:-ms-input-placeholder {
  color: #fff;
}

input[type="text"]:-moz-placeholder {
  color: #fff;
}

input:focus {
  background: rgba(255, 255, 255, 0.7);
}

body .facetwp-btn {
  right: 0.75rem;
}
